/* Root */
:root {
    /* Colores */
    --azul_oscuro: #23234B; /* azul oscuro */
    --cian: #06cfce; /* cian */
    --rosa: #d3167c; /* rosa */
    --gris_claro: #ececed; /* gris claro */

    /* Tipos de letras */
    --font-alumni-sans: 'Alumni Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-aldrich: 'Aldrich', sans-serif;
}

/* Estilos generales */
body {
    font-family: var(--font-poppins), Arial, sans-serif; /* Priorizar la fuente Poppins */
    background-color: var(--azul_oscuro);
    color: var(--gris_claro);
    line-height: 1.6;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

/* Encabezado */
.encabezado{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-aldrich);
}

header {
    background-color: var(--azul_oscuro);
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 180px;
    height: auto;
    margin-right: 20px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: var(--cian);
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    font-family: var(--font-aldrich);
    text-align: center;
}

.search button {
    padding: 8px 12px;
    background-color: var(--rosa);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: var(--font-aldrich);
}

.search button:hover {
    background-color: var(--cian);
}

/* Secciones */
section {
    padding: 20px 0;
    text-align: center;
}

h2 {
    color: var(--rosa);
    margin-bottom: 20px;
}

/* Botón */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--rosa);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--cian);
}

/* Pie de página */
footer {
    background-color: var(--azul_oscuro);
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul li {
    display: inline-block;
    margin-right: 10px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

footer nav ul li a:hover {
    color: var(--cian);
}
