/* Variables de colores y fuentes */
:root {
    --ff-heading: "Russo One", sans-serif;
    --ff-body: "Poppins", sans-serif;
    --ff-title: "Aldrich", sans-serif;
    --morado: #23234B;
    --cian: #06cfce;
    --magenta: #d3167c;
    --blanco: #ececed;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Estilos generales del cuerpo */
body {
    background-color: var(--blanco);
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* -------------------------------------------------------------------------------------------------------------------------------------- */

/* Estilo principal del contenido */
main {
    background: url(../images/01-Welcome.png) no-repeat;
    height: 800px;
    width: 400px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */

/* Estilos para la sección del cuerpo de la pagina */
main.cuerpo {
    .scroll {
        scrollbar-width: none;
        overflow-y: scroll;
        height: 600px;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 2rem;
    }

    .cabecera_login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .cabecera_register {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .cabecera_cataloge {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cabecera_view_game {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cabecera_dash {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 65px;
    }

    .cabecera_dash2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cabecera_users {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .cabecera_gamer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cabecera_add {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .cabecera_categories {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .img_perfil_usuario {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    /* estilos clases titulos_cajas */

    .contenedor_titulos_cajas_login {
        margin-top: 0px;
    }

    .contenedor_titulos_cajas_register {
        margin-top: -50px;
    }

    .contenedor_titulos_parrafos_view {
        margin: 16px;
    }

    .contenedor_titulos_myprofile {
        margin-top: -30px;
    }

    .contenedor_titulos_myprofile2 {
        margin-top: 60px;
    }

    .contenedor_modulos_dash {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    /* estilos clases contenedor_titulo_caja */

    .contenedor_titulo_caja_catalogue {
        color: var(--cian);
        font-family: var(--ff-title);
        font-size: 1rem;
        text-align: center;
        margin: 1rem;
    }

    .contenedor_titulo_caja_login {
        color: var(--blanco);
        font-family: var(--ff-title);
        font-size: 1rem;
        text-align: center;
        margin: 1rem;
        margin-top: 10px;
    }

    .contenedor_titulo_caja_register {
        color: var(--blanco);
        font-family: var(--ff-title);
        font-size: 1rem;
        text-align: center;
        margin: 16px;
    }

    .contenedor_titulo_myprofile {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        padding: 20px;

        a {
            display: flex;
            align-items: center;
            color: var(--blanco);
            font-family: var(--ff-body);
            text-decoration: none;
            padding: 12px;
            transition: background-color 0.3s;
            border-radius: 20px;
            font-weight: 300;
            font-size: 20px;
        }

        a:hover {
            color: var(--morado);
            backdrop-filter: blur(20px);
        }

        a img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;
        }

        hr {
            margin: auto;
            padding: 0;
            border: none;
            width: 320px;
            height: 1px;
            background-color: rgba(6, 207, 206, 0.3)
        }


    }


    .contenedor_titulo_view {
        font-size: 1rem;
        margin-top: -5px;
        margin-left: 30px;
    }

    .contenedor_dash {
        width: 325px;
        height: 100px;
        background-color: var(--cian);
        border: 1px solid #ccc;
        border-radius: 15px;
        margin-bottom: 30px;
    }

    .contenido_dash {
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .img-contenedor-dash {
        margin-right: 10px;
    }

    .texto-contenedor-dash {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*Estilos para clase titulo*/

    .titulo_login {
        margin-left: 40px;
        display: flex;
        align-items: center;
        overflow: hidden;
        margin-top: 30px;

        img {
            margin-right: 10px;
        }
    }

    .titulo_register {
        overflow: hidden;
        margin-top: 5px;

        img {
            margin-right: 10px;
        }
    }

    .titulo_view {
        font-family: var(--ff-title);
        color: var(--cian);
        margin-top: 30px;
    }

    .titulo_myprofile {
        text-align: center;
        font-family: var(--ff-title);
        color: var(--cian);
        margin-top: 30px;
    }

    .titulo_modulo p {
        font-weight: 400;
        color: var(--magenta);
        text-align: center;
        font-size: 16px;
        margin: 0;
        width: 150px;
    }

    .parrafo_modulo h3 {
        text-align: center;
        margin: 0;
        color: var(--morado);
        font-weight: 600;
        font-size: 16px;
        
    }


    .parrafo_view {
        font-family: var(--ff-body);
        font-weight: 400;
        color: var(--blanco);
        font-size: 14px;
        margin-top: 5px;
    }

    .logotitulo {
        justify-content: center;
        padding: 15px;
        text-indent: -10px;
        margin-left: 15px;
    }

    .icoback {
        margin-left: 25px;
    }

    .icoback-login {
        margin-left: 25px;
    }

    .icoback-dash {
        margin-left: 20px;
    }

    .icoback-users {
        margin-left: 10px;
    }

    .icoback-gamer {
        margin-left: 10px;
    }

    .icoback-add {
        margin-left: 32px;
    }


    .botonlogin {
        margin-top: 30px;
        button {
            cursor: pointer;
            border: none;
            outline: none;
            background: url(../images/btn2.png)no-repeat center;
            height: 60px;
            width: 260px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    }

    .botonregister {
        margin-top: -5px;
        button {
            cursor: pointer;
            border: none;
            outline: none;
            background: url(../images/btn2.png)no-repeat center;
            height: 60px;
            width: 260px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    }

    .botonview {
        margin-top: -30px;
    }

    .boton_view_dash {
        margin-left: auto;
        margin-right: 5px;
        margin-top: 40px;
    }

    .botonuser {
        margin-top: 0px;
        margin-bottom: 20px;
        button {
            cursor: pointer;
            border: none;
            outline: none;
            background: url(../images/btn3.png)no-repeat center;
            height: 60px;
            width: 260px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    }

    .botonprofyle {
        margin-top: -30px;
        display: flex;
        justify-content: center;
        align-items: center;

        /* estilos boton enter */
        a:is(:link, visited) {
            background: url(../images/btn2.png) no-repeat;
            height: 70px;
            width: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            margin-left: 25px;
        }

        .content-btn4-myprofyle {
            margin-right: 10px;
            margin-top: -15px;
        }
    }

    .logotitulo-login {
        padding: 0px 55px 0px 58px;
    }

    .logotitulo-dash {
        padding: 0px 0px 0px 20px;
    }

    .logotitulo-users {
        padding: 0px 50px 0px 70px;
    }

    .logotitulo-gamer {
        padding: 0px 40px 0px 70px;
    }

    .logotitulo-add {
        padding: 0px 60px 0px 70px;
    }


    /* ______________________________________________________________________________________________________________________________ */

    /* Menu hamburgesa */
    .burger-menu {
        position: relative;
    }


    .btn-burger {
        position: absolute;
        cursor: pointer;
    }

    .nav {
        top: -100%;
        position: absolute;
        background-color: rgba(35, 35, 75, 0.5);
        backdrop-filter: blur(40px);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        width: 400px;
        height: 800px;
        transition: all 0.4s ease-in-out;
        transform: scale(0);
        top: -32px;
        left: -298px;

        .ico-menu-title {
            margin: auto;
            margin-top: 60px;
            display: flex;
            justify-content: center;
            padding: 15px;
        }
    }

    .nav.active {
        opacity: 1;
        transform: scale(1);
        z-index: 2;
    }


    .ico-menu {
        display: block;
        margin: auto;
        margin-top: 40px;
    }

    .contenido_menu.oculto {
        display: none;
    }

    .contenido_menu {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        padding: 20px;

        a {
            color: var(--blanco);
            font-family: var(--ff-body);
            text-decoration: none;
            padding: 12px;
            transition: background-color 0.3s;
            border-radius: 20px;
            font-weight: 400;
            font-size: 20px;

        }

        a:hover {
            color: var(--blanco);
            background-color: rgba(211, 22, 124, 0.6);
            border: 1px solid rgba(6, 207, 206, 0.9);
            backdrop-filter: blur(20px);
        }

        a img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem;

        }
    }

    .contenido_menu hr {
        margin: auto;
        padding: 0;
        border: none;
        width: 320px;
        height: 1px;
        /* Ajusta la altura de la línea */
        background-color: rgba(6, 207, 206, 0.2)
    }

    /* estilos para icono del menu hamburgueza */
    svg.btn-burger {
        cursor: pointer;
        transition: transform 400ms;
        user-select: none;
        position: relative;
        z-index: 3;

        .line {
            fill: none;
            transition: stroke-dasharray 400ms,
                stroke-dashoffset 400ms;
            stroke: var(--cian);
            stroke-width: 4;
            stroke-linecap: round;
        }

        .top {
            stroke-dasharray: 40 121;
        }

        .bottom {
            stroke-dasharray: 40 121;
        }
    }

    svg.btn-burger.active {
        transform: rotate(45deg);

        .top {
            stroke-dashoffset: -68px;
        }

        .bottom {
            stroke-dashoffset: -68px;
        }
    }

    /* _______________________________________________________________________________________________________________ */

    /* estilos para los slider */

    /* estilos generales para slider */
    section.slider {
        width: 320px;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 0 50px;

        img {
            width: 115px;
            height: auto;
            margin-left: 25px;
        }

        /* estilos para los nav o botones del slider */
        div.owl-nav {
            position: relative;
            top: -140px;
            display: flex;
            justify-content: space-between;
            color: var(--cian);

            button {
                border: 2px solid;
                background: var(--morado);
                padding: 10px;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                font-size: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                margin: 0 -20px;

                &:hover {
                    transform: scale(1.1);
                    background: var(--cian);
                }

                /* ajustes personalizados el span dentro del boton */
                span {
                    font-weight: 200;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    top: -2px;
                    margin-left: -1px;
                }
            }

            /* Estilos para el span dentro del primer botón */
            button:nth-child(1) span {
                left: 1px;
            }

            /* Estilos para el span dentro del segundo botón */
            button:nth-child(2) span {
                left: 2px;
            }
        }

        /* estilos para los botones tipo dots  */

        .owl-dots {
            position: relative;
            top: -30px;
        }

        .owl-dots span {
            background: var(--morado);
        }

        .owl-dots span:hover {
            background: var(--magenta);
        }

        .owl-dot.active span {
            background: var(--cian);
        }
    }

    /* ____________________________________________________________________________________________________________________________ */

    /* Estilos para las imagenes de los sliders de las categorias */
    section.slidercat {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 0.5rem;
    }

    .slidercat .item {
        margin: 1.5rem;
        margin-block: 0.5rem;
        text-align: center;
    }

    .slidercat h4,
    .slidercat p {
        width: 150px;
        text-align: center;
        margin-top: 0.5rem;
        margin-left: 5px;
    }

    a {
        text-decoration: none;
    }

    .slidercat h4 {
        font-family: var(--ff-title);
        font-size: 1rem;
        font-weight: 600;
        color: var(--cian);
    }

    .slidercat:hover h4:hover {
        color: var(--blanco);
    }

    .slidercat p {
        font-family: var(--ff-body);
        font-size: 0.8rem;
        font-weight: 400;
        color: var(--blanco);
        margin-bottom: 1rem;
    }

    /* ------------------------------------------------------------------------------------- */

    /* Estilos para la caja de login*/
    .caja {
        margin: 0 auto;
        display: flex;
        align-items: center;
        border-radius: 20px;
        overflow: hidden;
        border: 2px solid var(--magenta);
        width: 280px;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        padding: 0 10px 0 10px;
        

        .ico-eye{
            cursor: pointer;
            position: absolute;
            right: 10px;
        }  
    }

    

    .caja input {
        flex: 1;
        padding: 6px 0px 6px 0px;
        border: none;
        background: transparent;
        font-family: var(--ff-body);
        font-size: 15px;
        font-weight: 400;
        outline: none;
        text-align: center;
        color: var(--cian);

    }

    .caja button {
        padding: 10px 15px;
        background-color: var(--cian);
        color: #fff;
        border: none;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
    }

    /* --------------------------------------------------------------------------------------------------------------------------------- */

    /* Estilos para la caja de búsqueda */
    .search-box {
        margin: 0 auto;
        display: flex;
        align-items: center;
        border-radius: 20px;
        overflow: hidden;
        border: 2px solid var(--magenta);
        width: 290px;
        margin-bottom: 20px;
    }

    .search-box input {
        flex: 1;
        padding: 10px;
        border: none;
        background: transparent;
        font-family: var(--ff-heading);
        font-size: 16px;
        outline: none;
        text-align: center;
        color: var(--cian);
    }

    input::placeholder {
        color: var(--cian);
    }

    .search-box button {
        padding: 10px 15px;
        background-color: var(--cian);
        color: #fff;
        border: none;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
    }

    .filter-icon {
        padding: 10px;
        color: var(--magenta);
        cursor: pointer;
        text-indent: -10px;
    }

    .filter-icon:hover {
        color: var(--cian);
    }

    /* __________________________________________________________________________________________________ */

    /* estilos para el footer */

    .recordar_contraseña{
        display: flex;
        justify-content: center;
        color: var(--cian);
        font-weight: 400;
        margin-top: 1rem;
    }

    /* __________________________________________ */

    #imagenContenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 250px;
        height: 150px;
        overflow: hidden;
        background: url(../images/marco-perfil.png) no-repeat;
        background-size: 80%;
        left: 100px;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    
    #imagenContenedor img {
        display: flex;
        object-fit:contain;
        width: 150px;
        height: 80px;
        left: 80px;
        margin-right: 60px;
        margin-top: -20px;
        
    }
    
    .img_perfil_usuario{
        border: none
    }


    #uploadText {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: var(--ff-body);
        font-weight: 400;
        color: var(--cian); /* Cambiar color del texto */
        font-size: 16px; /* Cambiar tamaño del texto */
    }

    #uploadText p {
        margin: 0;
    }
    
    #inputFile {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 70%;
        opacity: 0;
        cursor: pointer;
        border: none;
    }
    
}